body{display: block;  margin: 0 auto;}

#background{
  background-attachment: fixed;
  background-image: url(../img/backgroundX.jpg);
  background-size: cover;
  background-position: center;
}
#footer{
  max-width: 100%;
  margin: 0 auto;
  font-size: 20px;
  color: white;
  background-color: rgba(100, 100, 100, 0.8);
  padding: 15px;
  font-family: Azoft Sans;
  text-align: center;
}
#footer a{color: white; text-decoration: none;}
#footer a:hover {transition: 0.2s linear; border-bottom: 1px solid;}
#footer a:not(:hover) {transition: 0.3s;}
.menu{
  background-color: rgba(255, 100, 185, 0.8);
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;

}
.menu_left{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding-left: calc(2% - 10px);
}
.menu_right{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding-right: 2%;
}
.menu__item{
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  font-size: 25px;
  font-family: Azoft Sans;
}
.menu__item a{opacity: 0.8; text-decoration: none; color: white;}
.menu__item a:active{color: grey;}
.menu__item a:hover {opacity: 1; transition: 0.2s linear; border-bottom: 1px solid;}
.menu__item a:not(:hover) {transition: 0.3s;}

.about{
  max-width: 100%;
  margin: 0 auto;
  font-size: 30px;
  color: black;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 15px;
}
.about a{text-decoration: none; color: black;}
.about a:hover{transition: 0.2s linear;border-bottom: 1px solid; opacity: 1;} a:not(:hover){transition: 0.3s;}
.about p{opacity: 0.7;font-family: Victoria; }

.aboutH{
  margin: auto;
  padding: 15px;
  font-family: Azoft Sans;
}
.angels{
  max-width: 100%;
  margin: 0 auto;
  font-size: 30px;
  color: white;
  background-color: rgba(255, 100, 185, 0.8);
  padding: 15px;
}
.angelsH{
  margin: auto;
  font-family: Azoft Sans;
}
.angelsTable{
  font-family: Victoria;
}

li{list-style: none;}
